---
---

@import '{{ site.theme }}';

a {
  color: #bf1c31;
}

a:hover,
a:focus {
  color: #7a1321;
  font-weight: normal;
}

header h1 {
  display: none;
}

footer p:nth-child(2) {
  display: none;
}
