name: CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
  workflow_dispatch:
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Update npm
        run: npm install -g npm@7
      - name: Node version
        run: node --version && npm --version
      - name: Installing node packages
        run: npm ci
      - name: Building
        run: npm run build
      - name: Test code generation
        run: npm run generate
      - name: Testing
        run: npm run test
